@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.addTagForm {
  position: absolute;
  padding: 20px 10px;

  width: 500px;
  height: max-content;
  background-color: #fafafa;

  box-shadow: 0 0 10px rgb(107, 107, 107);
  border-radius: 10px;

  &__heading {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    
    margin-bottom: 10px;
  }
}
