$main-grey: #d4d4d4;
$secondary-grey: #eaeaea;

$accent-color: #848484;

$main-blue: #0070d1;
$main-blue-hv: #015cac;

$main-green: #0b7f45;
$main-green-hv: #0b7f45d4;

$cancel-color: #db0a0a;
$cancel-color-hv: #db0a0ade;

