@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.header {
  height: 60px;
  background-color: unset;

  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;

  background-color: $main-grey;
}
