@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/colors.scss";

.chatFilter {
  height: 60px;
  background-color: $main-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: 49%;
    position: relative;
  }
}
